/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Oxanium:wght@200..800&display=swap");

/* ****************************** */
/*        Color selectors         */
/* ****************************** */

:root {
  --kublue: #0051ba;
  --crimson: #e8000d;
  --yellow: #ffc82d;
  --grey: #85898a;
  --sky: #73cbf2;
  --night: #003459;
  --black: #0d0d0d;
  --icons: #77684e;
  --size: 50px;
  --font-family: "Oxanium", sans-serif;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 4rem;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #d6d8da;
}

header,
footer {
  background: var(--kublue);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header nav a,
footer a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
}

main {
  padding: 2rem;
}

.profile-photo {
  width: 350px;
  border-radius: 25%;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  outline: 2px solid black;
  align-items: center;
}

form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  margin-bottom: 20px;
}

textarea {
  height: 100px;
  margin-bottom: 20px;
}

#submitButton {
  width: 30%;
  background-color: var(--kublue);
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent; 
  transition: border 0.3s ease, background-color 0.3s ease;
}

#submitButton:hover {
  border: 2px solid var(--crimson); 
  background-color: var(--night);
}

#AboutMeP {
  width: 30%;
  text-align: justify;
}

.box {
  outline: 2px solid var(--crimson);
  width: 30%;
  height: 234px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#PortfolioItemContainer {
  display: flex;
  flex-wrap: wrap;
  outline: 5px solid var(--night);
  padding: 20px;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .box {
    width: 80%; /* Make boxes take up more width on smaller screens */
    height: 200px; /* Reduce height to make it fit better on mobile */
  }
}

#partyButton {
  width: auto;
  background-color: var(--kublue);
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent; 
  transition: border 0.3s ease, background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  white-space: nowrap;
}

#partyButton:hover {
  border: 2px solid var(--crimson); 
  background-color: var(--night);
}